.container {
    display: flex;
    height: 300px; /* nova propriedade! */
    background-color: #00ffff;
    flex-direction: row; /* row, row-reverse, column-reverse */
    flex-wrap: wrap; /* nowrap, wrap, wrap-reverse */
    justify-content: center; /* flex-start, flex-end, center, space-between, space-around, space-evenly */
    align-items: baseline; /* flex-start, flex-end, center, stretch, baseline */
    /* gap: 50px; */
    row-gap: 50px;
    column-gap: 10px;
}

.item {
    width: 100px;
    height: 50px;
    margin: 5px;
    border: 5px solid #090582;
    background-color: #e80f9c;
    padding: 5px;
}